body {
	font-family: 'Lato', sans-serif;
	color: #232;
	font-weight: 300;
}

hr {
    border: none;
    height: 3px;
    color: #bcb; 
    background-color: #bcb;
}

.text-muted { 
	color: #bcb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}